@import '../../index.scss';

.login_screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary-color;
  .login_container {
    width: 30%;
    height: fit-content;
    background: $border-light;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px $primary-color;
    -webkit-box-shadow: 10px 10px 5px 0px $primary-color;
    -moz-box-shadow: 10px 10px 5px 0px $primary-color;
    .login_wrapper {
      padding: 1em;
      .login_screen_head_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .login_screen_head_wrapper {
          width: fit-content;
        }
        .login_head {
          color: $primary-color;
        }
      }

      .login_form_container {
        margin: 2em;
        .login_field_container {
          margin: 1em 0;
        }
        .nav_link_container {
          .nav_link_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .login_link_container {
              padding-top: 1em;
              color: $gray-dark;
              .sign_link {
                padding-left: 0.5em;
                color: $primary-color;
              }
            }
          }
        }
        .login_submit_button {
          margin: 2em 0;
          .button_wide {
            font-size: 18px;
          }
        }
      }
    }
  }
}
