@import '../../../index.scss';

.button_container {
  .button {    
    height: $uiHeight;
    background: $primary-color;
    border: $uiBorder;
    border-radius: $uiBorderRadius;
    min-width: 100px;
    color: $white;
    font-weight: 500;
  }
  .button:hover {
    cursor: pointer;
    font-weight: 600;
  }
  .button_wide {
    width: 100%;
  }
}
